@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h3 p {
  letter-spacing: 0.05em !important;
}

.btn-enhanced {
  @apply transition-colors active:bg-[#4f6275];
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

.settings-icon {
  background-image: url('https://sdk-style.s3.amazonaws.com/icons/cog.svg');
}
